.sales-table-container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
}
.delete-button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.p-datatable {
    font-size: 0.9rem;
    width: 100%;
    overflow: hidden;
}

.p-datatable-header {
    background-color: #f4f4f4;
    padding: 0.8rem;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.p-column-header {
    padding: 0.5rem;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

.p-column {
    padding: 0.5rem;
}

.p-datatable-tbody > tr {
    transition: background-color 0.3s ease;
}

.p-datatable-tbody > tr:hover {
    background-color: #f5f5f5;
}

.p-datatable .p-datatable-tbody > tr > td {
    font-size: 0.85rem;
    color: #555;
}

.p-datatable .p-paginator {
    background-color: transparent;
}

.p-datatable .p-paginator .p-paginator-pages {
    font-size: 0.9rem;
    color: #333;
}

.p-datatable .p-paginator .p-paginator-first, 
.p-datatable .p-paginator .p-paginator-prev, 
.p-datatable .p-paginator .p-paginator-next, 
.p-datatable .p-paginator .p-paginator-last {
    font-size: 1rem;
}

.p-datatable .p-column-header, .p-datatable-tbody > tr > td {
    text-align: center;
}

.p-datatable .p-column-filter {
    font-size: 0.85rem;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
    font-weight: bold;
}
